<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>uni0041030B</string>
      <string>uni0041030D</string>
      <string>uni01CD</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>I_ring</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Itilde</string>
      <string>uni0049030B</string>
      <string>uni0049030D</string>
      <string>uni0197</string>
      <string>uni01CF</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>OOpoj</string>
      <string>OOpoj_acutecomb</string>
      <string>OOpoj_gravecomb</string>
      <string>OOpoj_uni0302</string>
      <string>OOpoj_uni0304</string>
      <string>OOpoj_uni0306</string>
      <string>OOpoj_uni030B</string>
      <string>OOpoj_uni030C</string>
      <string>OOpoj_uni030D</string>
      <string>O_ring</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>uni004F030D</string>
      <string>uni01D1</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>uni0055030D</string>
      <string>uni01D3</string>
      <string>uni0244</string>
    </array>
    <key>public.kern1.dotlessi</key>
    <array>
      <string>dotlessi</string>
      <string>i</string>
      <string>i_hungarumlautcomb</string>
      <string>i_ring</string>
      <string>i_verticallineabovecomb</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>itilde</string>
      <string>uni01D0</string>
      <string>uni0268</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>e_ring</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>uni0065030B</string>
      <string>uni0065030D</string>
      <string>uni1EBD</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>uni0041030B</string>
      <string>uni0041030D</string>
      <string>uni01CD</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
      <string>I_ring</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Itilde</string>
      <string>uni0049030B</string>
      <string>uni0049030D</string>
      <string>uni0197</string>
      <string>uni01CF</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>O</string>
      <string>OOpoj</string>
      <string>OOpoj_acutecomb</string>
      <string>OOpoj_gravecomb</string>
      <string>OOpoj_uni0302</string>
      <string>OOpoj_uni0304</string>
      <string>OOpoj_uni0306</string>
      <string>OOpoj_uni030B</string>
      <string>OOpoj_uni030C</string>
      <string>OOpoj_uni030D</string>
      <string>O_ring</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>uni004F030D</string>
      <string>uni01D1</string>
    </array>
    <key>public.kern2._empty_lu.5_st.1_cl.0</key>
    <array/>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aring</string>
      <string>atilde</string>
      <string>uni0061030B</string>
      <string>uni0061030D</string>
      <string>uni01CE</string>
    </array>
    <key>public.kern2.dotlessi</key>
    <array>
      <string>dotlessi</string>
      <string>i</string>
      <string>i_hungarumlautcomb</string>
      <string>i_ring</string>
      <string>i_verticallineabovecomb</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>itilde</string>
      <string>uni01D0</string>
      <string>uni0268</string>
    </array>
    <key>public.kern2.e</key>
    <array>
      <string>e</string>
      <string>e_ring</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>uni0065030B</string>
      <string>uni0065030D</string>
      <string>uni1EBD</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>o</string>
      <string>o_ring</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oopoj</string>
      <string>oopoj_acutecomb</string>
      <string>oopoj_gravecomb</string>
      <string>oopoj_uni0302</string>
      <string>oopoj_uni0304</string>
      <string>oopoj_uni0306</string>
      <string>oopoj_uni030B</string>
      <string>oopoj_uni030C</string>
      <string>oopoj_uni030D</string>
      <string>otilde</string>
      <string>uni006F030D</string>
      <string>uni01D2</string>
      <string>uni0275</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uni0075030D</string>
      <string>uni01D4</string>
      <string>uni0289</string>
      <string>utilde</string>
    </array>
  </dict>
</plist>
